#menu {
    clear:none;
    background: url(../images/bg_menu.png);
    float: left;
    border-bottom: 1px solid #c1c1c1;
    width: 100%;
    height: 24px;
  
}

#menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    float: left;
}

#menu a {
    display: block;
    width: 100%;
}

#menu li {
    float: left;
    font: 8pt Arial, Verdana, sans-serif;;
    color: #000;
    display: block;
    border-right: 1px solid #b6b6b6;
    margin: 0;
    padding: 6px 10px 4px 10px;
    font-weight: bold;
}

#menu a:hover {
    color: #000;
    background: #FAE6B0;
    width: 100%;    
}

#menu ul li {
    position: relative;
    float:left;
}

#menu ul li ul li {
    border: 1px solid #C4C0B9;
    border-bottom: none;
    float: none;
    font: 11px Arial, Verdana, Helvetica, sans-serif;
    display: block;
    margin: 0px;
    padding: 4px;
    color: #000;
    background: #D3D3D3;
    text-decoration: none;
    min-width: 12em;
    font-weight: bold;
}

#menu ul ul {
    border-bottom: 1px solid #F1EEE9;
    position: absolute;
    z-index: 500;
    margin-top: 4px !important;
}

#menu ul ul ul {
    top: 0;
    left: 100%;
}

div#menu ul ul,
div#menu ul li:hover ul ul,
div#menu ul ul li:hover ul ul {
    display: none;
}

div#menu ul li:hover ul,
div#menu ul ul li:hover ul,
div#menu ul ul ul li:hover ul {
    display: block;
}

#logout {
    display: inline;
    float:right;
    font: 8pt Arial, Verdana, Helvetica, sans-serif;
    margin: 0;
    padding: 5px 4px 4px 4px;
    text-decoration: none;
    background: url(../images/bg_menu.png);
    font-weight: bold;
}
